{% extends 'base2.html' %}

{% load static %}

{% block content %}
    <!-- end header section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          About TradXX
        </h2>
      </div>
      <div class="box">
        <div class="img-box">
          <img src="{% static 'images/about-img.png' %}" alt="">
        </div>
        <div class="detail-box">
          <p>
            Bitcoin is a crypto currency that whch starte in the year 2009. and later other crypto currency started coming out after the invention of Bitcoin. We dicided to startup a plan with our trading practice, we as a team, we are all traders, we came to help the citizens in the united state to earn extra income while they sit at home or while as a students they can still make a huge amount of money. so we used US dollar for the U.S citizens.
            We started in the yaer 2016 and established in the started state of america. we later came up with a more rralistic plan to make other people to make all the worldwhile they sit at home or as a student to have a side hustle. So we introduced the use of crypto currency to make payment easy and fast for all avlid customers all round the world.
          </p>
          <div class="btn-box">
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->

  <!-- info section -->
  <section class="info_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_contact">
            <div class="info_logo">
              <a href="index.html">
                <span>
                  Cryptop
                </span>
              </a>
            </div>
            <h5>
              Contact Us
            </h5>
            <div>
              <div class="img-box">
                <img src="{% static 'images/location.png' %}" width="18px" alt="" />
              </div>
              <p>
                Page when looking at its layou
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="{% static 'images/phone.png' %}" width="18px" alt="" />
              </div>
              <p>
                +01 1234567890
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="{% static 'images/envelope.png' %}" width="18px" alt="" />
              </div>
              <p>
                demo@gmail.com
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_info">
            <h5>
              Invest Money
            </h5>
            <p>
              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
              in some form, by injected humour,
            </p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="info_links">
            <h5>
              Useful Links
            </h5>
            <ul>
              <li>
                <a href="">
                  There are many
                </a>
              </li>
              <li>
                <a href="">
                  variations of
                </a>
              </li>
              <li>
                <a href="">
                  passages of
                </a>
              </li>
              <li>
                <a href="">
                  Lorem Ipsum
                </a>
              </li>
              <li>
                <a href="">
                  available, but the
                </a>
              </li>
              <li>
                <a href="">
                  majority have
                </a>
              </li>
              <li>
                <a href="">
                  suffered
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_form ">
            <h5>
              Newsletter
            </h5>
            <form action="">
              <input type="email" placeholder="Enter your email" />
              <button>
                Subscribe
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>



<style>
    
/* Media query for Samsung Galaxy S9+ */
/* CSS styles specific to Samsung Galaxy S9+ */
@media only screen and (max-width: 658px) and (min-width: 320px) {
}

/* Media query for Samsung Galaxy S8 */
/* CSS styles specific to Samsung Galaxy S8 */
@media only screen and (max-width: 740px) and (min-width: 360px) {
}

/* Media query for Samsung Galaxy tab */
/* CSS styles specific to Samsung Galaxy tab */
@media only screen and (max-width: 1138px) and (min-width: 712px) {
}

/* Media query for Samsung Galaxy s20 ultra */
/* CSS styles specific to Samsung Galaxy s20 ultra */
@media only screen and (max-width: 915px) and (min-width: 412px) {
}

/* Media query for iPhone 6/7/8 */
/* CSS styles specific to iPhone 6/7/8 */
@media only screen and (max-width: 667px) and (min-width: 414px) {
}

/* Media query for ALL laptops */
/* CSS styles specific All laptops */
@media only screen and (max-width: 1920px) and (min-width: 1366px){
}

/* Media query for HP CORE I5 6/7/8 */
/* CSS styles specific to HP CORE I5 6/7/8 */
@media only screen and (max-width: 1600px) and (min-width: 900px){
} 

/* Media query for samsung galaxy ao3s and a10 */
/* CSS styles specific to samsung galaxy ao3s and a10 */
@media only screen and (max-width: 720px) and (min-width: 320px) {
}

</style>

  <!-- end info_section -->
{% endblock %}